/* GENERAL RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
}


/* NAV */

.nav__links {
    display: flex;
    justify-content: center;
    padding: 40px;

}

.nav__links a:link,
.nav__links a:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 25px;
    border: 2px solid hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
    margin-right: 10px;
    transition: all .3s;
}

.active,
.nav__links a:hover,
.nav__links a:active {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}

.active { color: hsl(0, 0%, 95%) !important; }



/* CARD PAGE */

/* CARDS  */
.card-background {
    background-color: hsl(0, 0%, 95%);
    width: 100vw;
    height: 100vh;
}

.card__container {
    width: 60%;
    margin: 20px auto;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.card {
    padding: 54px;
    overflow: hidden;
}

.card--sedans {
    background-color: hsl(31, 77%, 52%);
}

.card--suv {
    background-color: hsl(184, 100%, 22%);
}

.card--luxury {
    background-color: hsl(179, 100%, 13%);
}

.card__heading {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
    color: hsl(0, 0%, 95%);
}

.card__img {
    display: inline-block;
    margin-bottom: 25px;
}


/* BUTTONS */
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    margin-top: 80px;
    padding: 10px 30px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
    border: 2px solid transparent;
    transition: all .3s;
}

.btn:hover,
.btn:active {
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    background-color: transparent;
    border-radius: 30px;
}

/* COLOR UTILITY  */
.color-orange { color: hsl(31, 77%, 52%); }
.color-dark-cyan { color: hsl(184, 100%, 22%); }
.color-very-dark-cyan { color: hsl(179, 100%, 13%); }


/* MEDIA QUERIES */
/* 
    The choosen breakpoints below makes the design responsive
    on all point between 375px and 1440px
*/
@media only screen and (max-width: 1312px) {
    .container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 425px) {
    .container {
        width: 85%;
    }
}


/* GRID PAGE */
.grid-background {
    background-color: #1a1c28;
    width: 100vw;
    height: 100vh;
}

.red-box { background-color: #eb5020; }
.orange-box { background-color: #ffa401; }
.green-box { background-color: #05aa42; }
.blue-box { background-color: #01aefd; }

.grid__container {
    width: 70%;
    margin: 50px auto;
    display: grid;
    /* grid-template-rows: 2;
    grid-template-columns: 3; */
    gap: 10px;
}

.grid-items {
    padding: 90px;
}

.red-box {
    grid-row: 1;
    grid-column: 1 / span 2;
}

.orange-box {
    grid-row: 1;
    grid-column: 3;
}

.green-box {
    grid-row: 2;
    grid-column: 1 / span 2.5;
}